<div class="hero min-h-screen">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-bold">Gestión Inteligente de Equipos</h1>
      <p class="mb-5">
        Centraliza la administración de usuarios y departamentos. Obtén visibilidad instantánea de la distribución de tu equipo.
      </p>
      <button class="btn btn-primary" routerLink="/candidatos">Ver Distribución</button>
    </div>
  </div>
</div>
